html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Open-sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto;
}
body {
  background-color: #f2f2f2;
  margin: 0;
}

.column {
  font-family: 'Open-sans', sans-serif;
  line-height: 1.5;
  display: flex;
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 0 0 2rem;
}

